 .u-section-1 {
  background-image: none;
  min-height: 719px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 513px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 601px;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 24px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 0 0 22px;
}

.u-section-1 .u-form-1 {
  height: 448px;
  margin: 48px 6px 0 16px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 510px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 423px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 496px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 324px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 900px;
  }

  .u-section-1 .u-shape-1 {
    height: 423px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -403px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}